/* 
==========================
Sessions Page 
========================== 
*/
//layout
#sessions{

  // default layout =============================================
.Session{

}

  //x-small =============================================
  @include breakpoint(x-small){
    background-color: violet;

  }//end x-small breakpoint



  //small =============================================
  @include breakpoint(small){
    background-color: red;
    .date{
      @include col(1,2);
    }
    .location{
      @include col(1,2);
    }
  }//end small breakpoint



  //medium breakpoint =============================================
  @include breakpoint(medium){
    background-color: green;
    .track.CW{
     clear:both;
     background-color: orange;
     overflow: hidden;
     margin-bottom: 1em;
    }

    .Session{
  @include col(1,2);

  }

  .Session:nth-of-type(2n+3){
    clear:both;
  }

/*

Session all
.Session{}

only sessions in creative writing
.Creative{}

only session 2 in creative
.Creative.II{}

just fine arts track
.track.FA{
  
}

all tracks
.track{
  
}

*/


  .Performing.I{
    clear:both;
    background-color: blue;
    overflow: hidden;
    margin-bottom: 1em;


  }

 // .three{
 //  clear:both
 // }

  }// end medium breakpoint



  //large breakpoint =============================================
  @include breakpoint(large){
    background-color: yellow;

  }//end large breakpoint



  //x-large breakkpoint  =============================================
  @include breakpoint(x-large){
    background-color: blue;
    color: white;

  }//end xlarge breakpoint


  //xx-large breakpoint  =============================================
  @include breakpoint(xx-large){
    background-color: orange;

  }//end xxlarge breakpoint
}
//end #home


